  - geopandas
  - pandas
  - numpy
  - pyproj
  - imageio
  - nose
  - geopy
  - bokeh
  - contextily
  - matplotlib
  - folium
  - mplleaflet
  - geoplot
  - networkx
  - osmnx
  - Rtree
  - Shapely
  - requests
  - jupyter-offlinenotebook
  - pip:
    - git+https://github.com/mullenkamp/PyCRS
